/* The only two global things we have to set */
body {
  margin: 0;
  padding: 0;
}
.lindat-common {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 14px;
}
.lindat-common *,
.lindat-common *:before,
.lindat-common *:after {
  box-sizing: inherit;
}
.lindat-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .lindat-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .lindat-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .lindat-container {
    width: 1170px;
  }
}
.lindat-header {
  border-bottom: 3px solid #12295D;
  background-color: #fafafa;
}
.lindat-menu-btn {
  position: relative;
  padding: 9px 10px;
  margin: 8px 15px;
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.lindat-menu-btn .lindat-icon-bar + .lindat-icon-bar {
  margin-top: 4px;
}
.lindat-menu-btn .lindat-icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #cccccc;
}
@media (min-width: 768px) {
  .lindat-menu-btn {
    display: none;
  }
}
.lindat-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
.lindat-menu > li {
  list-style: none;
}
.lindat-menu > li > a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  display: block;
  color: #000;
}
.lindat-menu > li > a:hover {
  outline: 0;
}
@media (max-width: 768px) {
  .lindat-menu.lindat-open {
    display: flex;
    flex-direction: column;
  }
  .lindat-menu.lindat-open > li > a:hover {
    background-color: #e1e1e1;
  }
}
@media (min-width: 768px) {
  .lindat-menu {
    display: flex;
    height: 53px;
  }
  .lindat-menu > li {
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-right: dotted #e4e4e4 1px;
  }
  .lindat-menu > li > a {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 15px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 3px solid transparent;
  }
  .lindat-menu > li > a:hover {
    outline: 0;
    border-bottom-color: #12295D;
  }
}
@media (min-width: 992px) {
  .lindat-menu > li > a {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .tabilab-logo-menu {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAwCAAAAADCloBpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkDBUUGA/qvTf8AAAAK0lEQVRYw+3NsQAAAAACsNDyp8qiaxNYehCJRCKRSCQSiUQikUgkEonkkwws27A9EP9wGQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0xMi0yMVQyMzowNTo1NiswMzowMOQTrYQAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMTItMjFUMjM6MDU6NTErMDM6MDBQ6Su2AAAAGHRFWHRTb2Z0d2FyZQBtYXRlLXNjcmVlbnNob3TIlvBKAAAAAElFTkSuQmCC) no-repeat center;
    min-width: 100px;
  }
}
@media (min-width: 768px) {
  .tabilab-logo-menu > span {
    display: none;
  }
}
@media (min-width: 768px) {
  .tabilab-logo {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAABECAAAAAB2EII7AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkDBUUCAAwwDg8AAAARElEQVRo3u3OMQEAAAgDoEWzfyob+M4DEpB5JO2AjIyMjMwHMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjJ1MjIyMjIyMocFkYFMiFqqQJIAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMTItMjFUMjM6MDU6NTYrMDM6MDDkE62EAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTEyLTIxVDIzOjA1OjUxKzAzOjAwUOkrtgAAABh0RVh0U29mdHdhcmUAbWF0ZS1zY3JlZW5zaG90yJbwSgAAAABJRU5ErkJggg==) no-repeat center;
    min-width: 100px;
  }
}
@media (min-width: 768px) {
  .tabilab-logo > span {
    display: none;
  }
}
.boun-logo {
  background-image: url(https://lindat.mff.cuni.cz/common/91223695d82ea33512f22e9842fbd95c.svg);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 100%;
  width: 72px;
  height: 72px;
  display: block;
}
.lindat-footer {
  color: #606060;
  text-align: center;
  margin: 0;
}
.lindat-footer h1 {
  border-bottom: 1px solid #C0C0C0;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  margin: 0 0 5px 0;
  color: #606060;
}
.lindat-footer a {
  color: #808080;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
.lindat-footer a:hover {
  text-decoration: underline;
}
.lindat-footer ul {
  padding-left: 20px;
  margin: 0;
  text-align: left;
}
.lindat-footer li {
  line-height: 20px;
}
.lindat-footer-main {
  text-align: left;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: inset 0 -1px 0 white;
  background-color: #F9F9F9;
  padding-top: 20px;
}
.lindat-footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 992px) {
  .lindat-footer-content {
    flex-wrap: nowrap;
  }
}
.lindat-footer-left {
  flex: 0 0 auto;
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .lindat-footer-left {
    order: 1;
  }
}
.lindat-footer-text {
  flex: 1 1 768px;
  order: 2;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .lindat-footer-text {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .lindat-footer-text {
    flex: 1 1 auto;
  }
}
.lindat-footer-text1 {
  flex: 1 1 auto;
  order: 1;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.lindat-footer-text2 {
  flex: 1 1 auto;
  order: 2;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.lindat-footer-text3 {
  flex: 1 1 auto;
  order: 3;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.lindat-footer-right {
  flex: 0 0 auto;
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.lindat-copyright {
  padding: 5px;
  font-size: 90%;
}
#lindat-home .lindat-header,
#lindat-home .lindat-menu > li > a:hover,
#lindat-home .lindat-home-item > a {
  border-bottom-color: #12295D;
}
#lindat-repository .lindat-header,
#lindat-repository .lindat-menu > li > a:hover,
#lindat-repository .lindat-repository-item > a {
  border-bottom-color: #12295D;
}
#lindat-demo .lindat-header,
#lindat-demo .lindat-menu > li > a:hover,
#lindat-demo .lindat-demo-item > a {
  border-bottom-color: #12295D;
}
#lindat-about .lindat-header,
#lindat-about .lindat-menu > li > a:hover,
#lindat-about .lindat-about-item > a {
  border-bottom-color: #12295D;
}

